<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
    <h1>Change Password</h1>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="POST">
        <!-- 添加 CSRF 令牌作为隐藏输入字段 -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="password" name="current_password" placeholder="current_password" required>
        <input type="password" name="new_password" placeholder="new_password" required>
        <button type="submit">Change Password</button>
    </form>
    </div>
</body>
</html>

